In [1]:
x <- c(1:100)

In [2]:
x

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [3]:
mad(x)

[1] 37.065

In [4]:
mean(x)

[1] 50.5

In [5]:
sum(x)

[1] 5050

In [6]:
Data = read.csv("Data.csv") 
print(head(Data))

  YearsExperience Salary
1             1.1  39343
2             1.3  46205
3             1.5  37731
4             2.0  43525
5             2.2  39891
6             2.9  56642

In [7]:
mean = mean(Data$Salary) 
print(mean)

[1] 76003

In [8]:
median = median(Data$Salary) 
print(mean)

[1] 76003

In [9]:
library(modeest) 
mode = mfv(Data$Salary) 
print(mode)

 [1]  37731  39343  39891  43525  46205  54445  55794  56642  56957  57081
[11]  57189  60150  61111  63218  64445  66029  67938  81363  83088  91738
[21]  93940  98273 101302 105582 109431 112635 113812 116969 121872 122391

In [10]:
min(Data$Salary)

[1] 37731

In [11]:
max(Data$Salary)

[1] 122391

In [12]:
range(Data$Salary)

[1]  37731 122391

In [13]:
quantile(Data$Salary)

       0%       25%       50%       75%      100%
 37731.00  56720.75  65237.00 100544.75 122391.00

In [14]:
var(Data$Salary)

[1] 751550960

In [15]:
sd(Data$Salary)

[1] 27414.43

In [16]:
summary(Data$Salary)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  37731   56721   65237   76003  100545  122391

In [17]:
sapply(Data$Salary,mean)

 [1]  39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
[11]  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
[21]  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872

In [18]:
library(pastecs)
res <- stat.desc(Data[, -5])

In [19]:
res

             YearsExperience Salary
nbr.val       30.0000000     3.000000e+01
nbr.null       0.0000000     0.000000e+00
nbr.na         0.0000000     0.000000e+00
min            1.1000000     3.773100e+04
max           10.5000000     1.223910e+05
range          9.4000000     8.466000e+04
sum          159.4000000     2.280090e+06
median         4.7000000     6.523700e+04
mean           5.3133333     7.600300e+04
SE.mean        0.5181251     5.005167e+03
CI.mean.0.95   1.0596849     1.023672e+04
var            8.0536092     7.515510e+08
std.dev        2.8378882     2.741443e+04
coef.var       0.5341069     3.607019e-01